services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    ports:
      - "3001:8080"
    volumes:
      - open-webui:/app/backend/data
    depends_on:
      - agent
    healthcheck:
      disable: true

  agent:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./.env

volumes:
  open-webui:
